name: CI/CD - Merge

on:
  push:
    branches:
      - "develop"
      - "main"
jobs:
  build:
    name: Merge
    runs-on: self-hosted
    steps:
      - name: Checkout Info
        run: |
          echo "Branch: ${{ steps.vars.outputs.branch }}"
          echo "Sha: ${{ steps.vars.outputs.sha_short }}"
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}
      - uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - run: npm install -g yarn
      - name: Build app
        run: |
          yarn install --frozen-lockfile --non-interactive
          yarn build:fe
          yarn build:be
