name: CI/CD - Release

on:
  push:
    branches:
      - "!*"
    tags:
      - "v*"

jobs:
  build:
    name: Release
    runs-on: self-hosted
    steps:
      - name: Checkout Info
        run: |
          echo "Branch: ${{ steps.vars.outputs.branch }}"
          echo "Sha: ${{ steps.vars.outputs.sha_short }}"
      - name: Read .nvmrc
        run: echo ::set-output name=NVMRC::$(cat .nvmrc)
        id: nvm
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_NAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{secrets.DOCKER_HUB_NAME}}/${{secrets.DOCKER_HUB_PROJECT}}:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
